/* ---------- Temel ---------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f1f5f9;
    margin: 0px;
    font-size: 16px;
    color: #000000;
}

button,
select,
form,
input {
}

section {
    margin: 0px;
    padding: 0px;
    display: flow-root;
}

p,
ul,
ol,
dl {
    font-weight: 400;
    line-height: 1.5;
    margin-block-start: 0;
    margin-block-end: 1em;
}

p:last-child,
ul:last-child,
ol:last-child,
dl:last-child {
    margin-block-end: 0;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 40px;
    font-weight: 600;
    color: #3b82f6;
    text-wrap: balance;
}

h1 {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
    line-height: 1.3;
}

h3 {
    font-size: 28px;
    line-height: 1.3;
}

h4 {
    font-size: 24px;
    line-height: 1.3;
}

h5 {
    font-size: 20px;
    line-height: 1.3;
}

h6 {
    font-size: 18px;
    line-height: 1.3;
}

a {
    color: #000000;
}

a:link {
    text-decoration: none;
}

:focus {
    outline: 0;
    background: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
    outline: none;
}

.kapsayici {
    width: 100%;
    max-width: 1240px;
    padding: 0px 20px;
    margin-right: auto;
    margin-left: auto;
}

/* Telefon */
@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }

    .kapsayici {
        padding: 0px 30px;
    }
}

/* Tablet */
@media (min-width: 767px) and (max-width: 991.98px) {
    .kapsayici {
        padding: 0px 30px;
    }
}

/* ipad Pro Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .kapsayici {
        padding: 0px 30px;
    }
}

/* ---------- Gizle ---------- */
@media screen and (min-width: 992px) {
    .pc-gizle {
        display: none !important;
    }
}

/* Telefon */
@media (max-width: 767px) {
    .telefon-gizle {
        display: none !important;
    }
}

/* Tablet */
@media (min-width: 767px) and (max-width: 991.98px) {
    .tablet-gizle {
        display: none !important;
    }
}

/* ipad Pro Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .ipadpro-gizle {
        display: none !important;
    }
}

.layout {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0px;
    background: transparent;
    overflow-x: hidden;
    transition: all 0.3s;
    padding-top: 0px;
}

.sidenav .logo {
    display: flex;
    color: #3b82f6;
    font-size: 36px;
    font-weight: 600;
    padding: 20px;
}

.sidenav .menu {
    margin: 0px;
    padding: 0px 20px;
    list-style: none;
}

.sidenav .menu a {
    color: #000;
    text-decoration: none;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    transition: all 0.3s;
}

.sidenav .menu a:hover,
.sidenav .menu a.active {
    color: #3b82f6;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #000;
    display: none;
    cursor: pointer;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
    display: none;
}

.open {
    left: 0px !important;
}

/* Mobilde hamburger menü gizli */
@media (max-width: 767px) {
    .sidenav {
        left: -240px;
        position: fixed;
        padding-top: 40px;
        background: #ffffff;
    }

    .closebtn {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

.blogpost {
    padding: 20px 20px;
}

.blogpost .blogpostic {
    padding: 20px 30px;
    background: #f5f8fb;
    border-radius: 10px;
    border: 1px solid #d9dde0;
}

.blogpost .blogpostic .butonlar {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #3b82f6;
    margin: 30px 0px;
}

.blogpost .blogpostic .butonlar .buton {
    background: #ebf3fe;
    color: #3b82f6;
    padding: 10px 40px;
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
    transition: all 0.3s;
}

.blogpost .blogpostic .butonlar .buton:hover {
    color: #295bac;
    background: #d8e6fd;
}

.blogpost .blogpostic .butonlar .buton.active {
    background: #3b82f6;
    color: #ffffff;
}

.blogpost .blogpostic ol {
    margin: 0px 0px 0px -20px;
    padding: 0px;
    list-style: none;
    column-count: 3;
    column-gap: 40px;
}

.blogpost .blogpostic ol li {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    align-items: center;
    padding: 5px 0px;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: start;
}

.blogpost .blogpostic ol li:hover {
    color: #3b82f6;
}

.blogpost .blogpostic ol li svg {
    opacity: 0;
}

.blogpost .blogpostic ol li:hover svg {
    opacity: 1;
}

.blogpost .blogpostic .alarm {
    padding: 20px;
    background: #3b82f6;
    color: #fff;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    transform: all 0.3s;
    z-index: 2;
}

/* Telefon */
@media (max-width: 767px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .blogpost .blogpostic .butonlar .buton {
        padding: 10px 20px;
    }

    .blogpost .blogpostic ol {
        column-count: 1;
        column-gap: 0px;
    }
}

/* Tablet */
@media (min-width: 767px) and (max-width: 991.98px) {
}

/* ipad Pro Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}
